* {
    margin: 0px;
    padding: 0px;
}
html, body, .wrapper {
    height: 100%;
}
body {
    display: block;
    background: #ecf0f1;
    background: url("../img/fon.jpg") repeat;
}
.wrapper {
    width: 900px;
    margin: 0 auto;

}
footer {
    height: 80px;
    margin-top: -80px;
    background: #afd6f5;
    clear: both;
}

footer p {
    float: left;
    margin-top: 30px;
}
.footerNote1 {
    margin-left: 10px;
}
.footerNote2 {
    float: right;
    margin-right: 10px;
}
header {

}
h1  {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.content {
    box-sizing: border-box;
    padding-bottom: 90px;
    background: white;
    min-height: 100%;
}

nav {
    margin-top: 10px;
}

.mainMenu {
    width: 880px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    left: 1.6%;
    overflow: hidden;
}
.mainMenu li {
    position: relative;
    float: left;
    list-style: none;
    /* border: 1px solid black;*/
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-right: 1px solid black;

}

.mainMenu li a {
    display: block;
    height: 30px;
    padding-top: 10px;
    background: #D4E7EE;
    padding-left: 4px;
    padding-right: 4px;
    color: #333333;
}
.mainMenu li a:hover {
    background: #ADC0CE;
}

.mainMenu li:last-of-type {
    border: none;
}

.mainMenu li.active a {
    background-color: #8CB3D2;
}


figure {
    background: khaki; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 150px; /* Ширина */
    margin: 25px auto; /* Отступы */
    text-align: center; /* Выравнивание по центру */
}
figcaption {
    color: #fff; /* Цвет текста */
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

section h2 {
    text-align: center;
    margin-top: 25px;
}

.tableMainPage {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border: 4px double #3c6b92;
    background: black;
    margin-top: 100px;
}

.tableMainPage tr {
    background: white;
}

/* страница для связи */
#contacts {
    position: relative;
    width: 600px;
    border: 1px solid;
    margin: 40px auto 0;
    background: #8bb2f0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#contacts h3   {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
}

#contacts textarea {
    width: 400px;
    height: 100px;
    resize: none;
    /*margin-top: 20px;*/
    float: left;
    clear: both;
}

#contacts input {
    float: left;
    clear: both;
}
#contacts p {
    margin-top: 5px;
    width: 100%;
    float: left;
    clear: both;
    position: relative;
}
#contacts input[type="radio"] {
    margin: 2px 3px 0 0;
}
.inputLength1 {
    width: 300px;
}

#contacts .reset {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    clear: none;
    width: 70px;
}

#contacts .submit {
    float: left;
    clear: none;
    margin-top: 30px;
    margin-bottom: 40px;
    /*margin-left: 20px;*/
}
/* фотоальбом */

.album {
    width: 740px;
    border: 1px solid;
    margin: 20px auto 50px;
    background: #851337;
}

.album td {
    width: 20%;
    text-align: center;
    vertical-align: top;
    border: 1px solid;
    background: white;
}

.album img {
    max-width: 100%;
    max-height: 100%;
}
.album a {
    color: #193742;
    display: block;
}
.album a:hover {
    text-decoration: underline;
}

.anchor1 {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* образование */

.educationList {
    margin-left: 20px;
    margin-top: 40px;
}

.educationList dt {
    font-family: Calibri, sans-serif;
    font-size: 23px;
}
.educationList dd {
    font:20px Calibri, sans-serif;
    font-style: italic;
    margin-left: 30px;
}

section h3  {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    margin-top: 30px;
}

.educationTable {
    margin: 10px auto 30px;
    text-align: center;
    width: 720px;
}

/*мои интересы*/
.myInterests a {
    float: left;
    clear: left;
    color: darkblue;
    text-decoration: underline;
    font-size: 20px;
    font-family: "Segoe Print", sans-serif;
    margin-left: 30px;
}
.myInterests a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}
.myInterests a.first {
    margin-top: 20px;
}

.myInterests a.last {
    margin-bottom: 60px;
}


.myHobbies {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 30px ;
    margin-left: 80px;
}
.loveMusic {
    list-style-position: inside;
    text-align: right;
    font-family: "Lucida Console", sans-serif;
    margin-right: 70px;
    font-size: 25px;
}

.loveBooks{
    font-family: "Courier New", sans-serif;
    margin-left: 80px;
    font-size: 25px;
}

.loveCinema {
    font-family: Bahnschrift, sans-serif;
    font-size: 30px;
    text-align: center;
    list-style-position: inside;
    margin-bottom: 150px;
}
#pictureMusic, #pictureBooks, #pictureCinema {
    display: block;
    margin: 80px auto 0;
}

/*страница теста */
#tests {
    position: relative;
    width: 640px;
    margin: 30px auto 50px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tests h3   {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
}

#tests textarea {
    width: 400px;
    height: 100px;
    resize: none;
    margin-top: 20px;
    float: left;
    clear: both;
}

#tests input, #tests select {
    float: left;
    clear: both;
}
#tests p {
    margin-top: 5px;
    margin-left: 20px;
    width: 90%;
    float: left;
    clear: both;
    position: relative;
}

.inputLength1 {
    width: 300px;
}

#tests legend {
    margin-left: 20px;
    background: white;
    text-decoration: underline double;
}

#tests fieldset {
    background: #8bb2f0;
}

.fSet2, .fSet3, .fSet4 {
    width: 500px;
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 20px;
}


#tests .fSet2 legend,#tests .fSet3 legend,#tests .fSet4 legend {
    background: none;
}
.fSet2 p {
    text-align: justify;
    padding-right: 20px;
}
.fSet4 select {
    width: 400px;
}

#tests .reset {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    clear: none;
    width: 70px;
}
#tests .submit {
    float: left;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 70px;
}
#tests .fSet3 input {
    margin: 3px 3px 0 0;
}

/*автобиография*/

.autobiography p {
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

/*----------------*/
/* стили для скриптов */
input:focus, textarea:focus {
    background: #ffe; /* Цвет фона */
    border: 1px solid red; /* Параметры рамки */
}

/*---currentTime----*/
.currentTime {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 20px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
}

.imageWindow {
    display: block;
    min-width: 900px;
    min-height: 800px;
    /*border: 2px solid red;*/
    background: darkgrey;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    /*left: 50%;*/
    top: 10px;
}

#calendar {
    float: left;
    clear: both;
    /*margin-left: 20px;*/
}

.album th {
    background: #D4E7EE;
}

.album.history {
    background:  #5B7488;
}
div#error {
    float: left;
    clear: both;
    color: red;
}

.focusP2 {
    /*width: 580px;*/
}

#modal_form {
    width: 300px;
    height: 100px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border: 3px #000 solid;
    background: #fff;
    text-align: center;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 10%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}

#buttonYes, #buttonNo {
    margin-top: 20px;
    width: 70px;
}

#history-clear {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

.tooltip-message {
    display: block;
    position: absolute;
    text-align: center;
    background: #8CB3D2;
    width: 150px;
    right: 0px;
    border: 1px solid black;
    margin-top: -25px;
    padding: 10px 10px 10px 10px;
}

#date_of_birth {
    margin-bottom: 20px;
}

/*---------------for gallery-----------------*/
.img-list img {
    text-align: center;
    display: block;
    /*max-width: 85%;*/
}

.gallery {
    width: 773px;
    margin: 20px auto 20px;
    background: #3c6b92;
    padding-top: 10px;
}

.gallery figure {

}

.img-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.img-list li {
    display: inline-block;
    list-style: none;
    width: 144px;
    vertical-align: top;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 5px;
}
.img-list li a {
    color: black;
    text-decoration: none;
}

.img-list li a:hover {
    text-decoration: underline;
}

.img-list img {
    width: 144px;
    /*max-width: 100%;*/
    height: 200px;
}

/*
=lightbox
*/
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px 0;
    display: none;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.lightbox figure {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 30%;
    max-width: 800px;
    background: #afd6f5;
}
.lightbox img {
    max-width: 75%;
    width: 100%;
}

.next, .prev,.caption {
    display: inline-block;
    color:#fff;
    margin: 15px 10px;
    cursor: pointer;
    font-size: 25px;
}
.next {
    float: right;
}
.prev {
    float: left;
    /*left: 0;*/
}
.caption {
    color: black;
}

p.validate-message {
    text-align: center;
    width: 500px;
    opacity: 0;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    line-height: 25px;
    background-color: #48eaf2;
}

p.correct-responses {
    text-align: center;
    width: 500px;
    opacity: 0;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    line-height: 25px;
    background-color: #f2ed28;
}